@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
* {
    padding: 0;
    margin: 0;
}

.header {
    background-color: #F8EFE3;
    .logo {
        width: 130px;
    }
    &__menu {
        text-transform: uppercase;
        padding-left: 205px;
        li {
            padding: 20px;
        }
    }
    &__dropdown {
        li {
            padding: 0;
            margin: 0;
        }
    }
    .dropdown-menu {
        min-width: 5rem;
    }
}

.video {
    margin-top: 70px;
    position: relative;
    padding-bottom: 30%;
    &:after {
        content: "";
        width: 100%;
        height: 300px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: #f8efe373;
    }
    &__inner {
        margin: 0 auto;
    }
    &__item {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 300px;
        z-index: 1;
    }
    &__content {
        width: 30%;
        height: 30%;
        position: absolute;
        top: 10%;
        left: 5%;
        z-index: 3;
        color: #808282;
    }
    &__text {
        margin: 0;
        font-family: 'Cormorant', serif;
        font-size: 45px;
    }
    &__subtext {
        font-family: 'Lato', sans-serif;
    }
}

.about {
    //  width: 100%;
    //  height: 100%;
    margin-top: 10px;
    background-image: url(/img/wave.png);
    background-repeat: no-repeat;
    &__inner {
        padding-top: 80px;
    }
    &__text {
        padding-top: 40px;
    }
    &__title {
        font-family: 'Roboto Slab', serif;
        font-size: 25px;
        text-align: center;
        color: #808282;
    }
    &__columns {
        padding-top: 50px;
        align-items: center;
        p {
            color: #808282;
            padding: 5px;
            font-family: 'Roboto Slab', serif;
            i {
                font-size: 19px;
                color: #7AA38E;
                padding: 10px;
            }
        }
    }
}

.carousel-inner {
    width: 800px;
    margin: 0 auto;
    h1 {
        font-family: 'Roboto Slab', serif;
        font-size: 25px;
        text-align: center;
        color: #808282;
    }
    .carousel-indicators {
        bottom: -180px;
    }
}

.best {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedbacks {
    margin-top: 5%;
    .feedbacks__inner {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        img {
            padding-top: 1rem;
            width: 8rem;
            margin: 0 auto;
        }
        .card {
            background-color: #F8EFE3;
            border-radius: 10%;
        }
    }
}

.order {
    width: 100%;
    height: 22rem;
    background-image: url(/img/order-banner.png);
    //  background-color: #F8EFE3;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4rem;
    &__inner {
        margin: auto;
        max-width: 900px;
        height: 22rem;
        position: relative;
        padding: 20px;
        padding-top: 2rem;
        border: 1px solid;
        h4 {
            font-family: 'Cormorant', serif;
            color: #fff;
            font-size: 2.5rem;
            line-height: 1.5;
            padding-bottom: 1rem;
            text-align: center;
        }
    }
    &__form {
        position: relative;
        margin: 32px 0;
        .form-field {
            position: relative;
            margin: 20px 0;
        }
        .input-text {
            display: block;
            width: 100%;
            height: 36px;
            font-size: 18px;
            border-width: 0 0 2px 0;
            border-color: green;
            line-height: 26px;
            font-weight: 400;
            padding: 10px;
        }
        .input-text:focus {
            outline: none;
        }
        .label {
            // display: inline-block;
            position: absolute;
            left: 20px;
            bottom: 30px;
            font-size: 25px;
            font-weight: 500;
            color: #383634f6;
            font-family: 'Cormorant', serif;
            text-transform: capitalize;
            transition: transform 0.2s ease-in-out;
        }
        .submit-btn {
            display: flex;
            justify-content: center;
            display: inline-block;
            text-transform: uppercase;
            color: #fff;
            font-size: 16px;
            border: none;
            padding: 8px 18px;
            cursor: pointer;
            background-color: rgb(95, 119, 84);
        }
    }
}